/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  color: white;
  padding: 1em 1em;
  margin: 2em 2em;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
    padding: 1em 1em;
    margin: 2em 2em;
  }
}
